// src/assets/sass/main.scss
$progress-value-background-color: #d1ad26;
@import '~bulma/bulma';
@import './styles/body';
@import './styles/mainpage';
@import './styles/chart';

.container {
  background-color: $primary;
  overflow: hidden;
  font-size: 2em;
  padding: 1em;
}
