// src/assets/sass/main.scss
$progress-value-background-color: #d1ad26;
@import '~bulma/bulma';
@import './styles/body';
@import './styles/mainpage';
@import './styles/chart';

.container-proto {
  @extend .container;
  background-color: $primary;
  overflow: hidden;
  font-size: 1.5em;
  padding: 1em;
  min-height: 100vh;
}
